.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 50px; 
}

.form-title h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  margin-top: 100px; 
  text-align: center;
}

.form-title h3:last-child {
  margin-bottom: 100rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  height: 610px;
  width: 400px;
  background-color: #ffffff;
  margin: 300px 0 300px 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.form-content {
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
  background-color: #ffffff;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-right: 100px;
  margin-left: 10px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 150%;
}

textarea {
  resize: vertical;
}

.submit-button {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.5s;
  margin-top: 20px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.submit-button:hover {
  background-color: #a40000;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}





.form-login {
  width: 50%;
  margin-top: 10px;
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: rgb(255, 220, 220);
  --btn-bg-2: rgb(255, 0, 0);
  --btn-bg-color: rgb(255, 255, 255);
  --radii: 0.5em;
  cursor: pointer;
  padding: 0.9em 1.4em;
  min-width: 120px;
  min-height: 44px;
  font-size: var(--size, 1rem);
  font-family: "Segoe UI", system-ui, sans-serif;
  font-weight: 500;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
  border: none;
  border-radius: var(--radii);
  color: var(--btn-bg-color);
  box-shadow: 0px 0px 20px rgba(255, 71, 71, 0.171), 0px 5px 5px -1px rgba(233, 58, 58, 0.119), inset 4px 4px 8px rgba(255, 175, 175, 0.5), inset -4px -4px 8px rgba(216, 19, 19, 0.35);
}

.form-login:hover {
  background-position: right top;
}

.form-login:is(:focus, :focus-within,:active) {
  outline: none;
  box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
}

@media (prefers-reduced-motion: reduce) {
  .form-login {
    transition: linear;
  }
}



@media (max-width: 768px) {
  .form {
    width: 90%;
    margin-top: 200px;
    margin-right: 30px;
  }

  .submit-button {
    width: 70%;
    margin-right: 15px;
  }
  .contact-box p {
    margin-left: 10px;
  }


  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-right: 80px;
  }

  .contact-info p{
    margin-top: 20px;
    font-family: helvetica;
    text-align: center;
    margin-right: 40px;
    text-decoration: underline;
    text-decoration-color: red;
    color: black;
  }


}

.contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  height: 100px;
  width: 400px;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.contact-box h4 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.contact-box p {
  margin: 0;
  font-size: 1rem;
}


.contact-info p{
  margin-top: 20px;
  font-family: helvetica;
  text-align: center;
  margin-left: 60px;
}