body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.logo {
	width: 100px;
}

.message {
	color: blue;
}

.message:hover {
	background-color: yellow;
}
.new4 {
	border-bottom: 20px solid #EC4242;
	width: 100%;
	margin-bottom: 50px;
}

.skills-wrapper {
	text-align: center;
}


