.login-form-container .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  border: 0.9px solid rgba(0, 0, 0, 0.046);
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 59px;
  margin-bottom: 140px;
  font-family: Helvetica;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  margin-top: 150px;
}

.login-form-container .login-form img {
  width: 25%;
  max-width: 200px;
  margin-bottom: 20px;
}


.login-form-container .login-form h2 {
  margin-top: 0;
}

.login-form-container .form-group {
  margin-bottom: 1rem;
  margin-left: 100px;
}

.login-form-container .input-group {
  border: 1px solid black;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  margin-left: 0px;
}

.login-form-container .input-icon {
  margin-right: 0.5rem;
}

.login-form-container input[type="email"],
.login-form-container input[type="password"] {
  flex: 1;
  border: none;
  outline: none;
  font-size: 10px;
}

.login-form-container input[type="email"]::placeholder,
.login-form-container input[type="password"]::placeholder {
  opacity: 0.5;
}

.login-form-container input[type="checkbox"] {
  margin-right: 0.5rem;
}

.login-form-container label[for="rememberMe"] {
  user-select: none;
}


.login-form-container a {
  color: black;
  text-decoration: underline;
  margin-left: 34px;
}

.btn-login {
  margin-top: 10px;
  width: 80%;
  margin-left: 20px;
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: #EC4242;
  --btn-bg-2: #A40000;
  --btn-bg-color: rgb(255, 255, 255);
  --radii: 0.5em;
  cursor: pointer;
  padding: 0.9em 1.4em;
  min-width: 120px;
  min-height: 44px;
  font-size: var(--size, 1rem);
  font-family: "Segoe UI", system-ui, sans-serif;
  font-weight: 500;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
  border: none;
  border-radius: var(--radii);
  color: var(--btn-bg-color);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.171), 0px 5px 5px -1px rgba(255, 255, 255, 0.119), inset 4px 4px 8px rgba(255, 255, 255, 0.5), inset -4px -4px 8px rgba(0, 0, 0, 0.35);
}

.btn-login:hover {
  background-position: right top;
}

.btn-login:is(:focus, :focus-within,:active) {
  outline: none;
  box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
}

@media (prefers-reduced-motion: reduce) {
  .btn-login {
    transition: linear;
  }
}


