.hero-container {
  position: relative;
}

.hero-image {
  filter: brightness(50%);
  width: 100%;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  color: white;
  font-family: "Helvetica";
}


body {
  margin: 0;
}



.hero-title {
  font-size: 100rem;
  color: #fff;
  text-shadow: 2px 2px #000;
}

@media only screen and (max-width: 600px) {
  .hero-title {
    font-size: 20px;
  }
  .hero-image{
    margin-top: 40px;
    width: 100%;
  }

  .hero-content {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: white;
    font-family: "Helvetica";
  }
  


}

.autotype {
  overflow: hidden; 
  white-space: nowrap; 
  font-size: 1em; 
  letter-spacing: 0.1em; 
  animation: autotype 4s steps(40, end);
}

@keyframes autotype {
  from { width: 0; }
  to { width: 100%; }
}
